<form [formRoot]="createUserForm">

	<!-- email -->
	<label>
		Email
		<input type="email" [formField]="createUserForm.email" />
	</label>
	@if (createUserForm.email().touched() && createUserForm.email().invalid()) {
		<p>{{ createUserForm.email().errors()[0].message }}</p>
	}

	<!-- password -->
	<label>
		Password
		<input type="password" [formField]="createUserForm.password" />
	</label>
	@if (createUserForm.password().touched() && createUserForm.password().invalid()) {
		<p>{{ createUserForm.password().errors()[0].message }}</p>
	}

	<!-- display name -->
	<label>
		Name
		<input type="text" [formField]="createUserForm.displayName" />
	</label>
	@if (createUserForm.displayName().touched() && createUserForm.displayName().invalid()) {
		<p>{{ createUserForm.displayName().errors()[0].message }}</p>
	}

	<!-- submit button -->
	<button type="submit" [disabled]="createUserForm().submitting()">
		@if (createUserForm().submitting()) {
			sending ...
		} @else {
			create user
		}
	</button>

</form>

<!-- feedback message -->
@if (createUserForm().errors().length > 0) {
	<p>{{ createUserForm().errors()[0].message }}</p>
}
@if (feedbackMsg()) {
	<p>{{ feedbackMsg() }}</p>
}
