<h1> {{ "groups.groupList.heading" | transloco }} </h1>
<input
	type="text" 
	class="form-control mb-1"
	[placeholder]= "'groups.groupList.searchPlaceholder' | transloco" 
	(input)="searchString.set($event.target.value)"
/>
@if (hasLoadError()) {
	<p class="text-danger"> 
	{{ 'groups.groupList.errorLoading' | transloco}}
	</p>
}	@else {
	<table class="table align-middle">
	<thead>
        <tr>
          <th scope="col">
            {{ 'groups.groupList.name' | transloco }}
          </th>

          <th scope="col">
            {{ 'groups.groupList.description' | transloco }}
          </th>

          <th scope="col">
            {{ 'groups.groupList.isSystem' | transloco }}
          </th>

          <th scope="col" style="width: 1%">
            <button
              type="button"
              class="btn btn-primary"
              (click)="openCreateGroupModal()"
              title="Add group">
              <i class="bi bi-plus-circle-fill"></i>
            </button>
          </th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        @for (group of filteredGroupList(); track group.id) {
          <tr>
            <td>{{ group.name }}</td>
            <td>{{ group.description ?? '—' }}</td>
            <td>{{ group.isSystem ? 'Yes' : 'No' }}</td>
            <td>
              <div class="d-flex">
                <button
                  type="button"
                  class="btn btn-secondary me-2 display-flex"
                  (click)="openEditGroupModal()"
                  title="Edit group"
                  aria-label="Edit group">
                  <i class="bi bi-pencil-fill"></i>
                </button>

                <button
                  type="button"
                  class="btn btn-danger me-2 display-flex align-items-center justify-content-center"
                  (click)="openEditGroupModal()"
                  title="Delete group"
                  aria-label="Delete group">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="4">
              {{ 'groups.groupList.empty' | transloco }}
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
