# --- PostgreSQL ---
POSTGRES_USER=user
POSTGRES_PASSWORD=pw
POSTGRES_DB=name

# --- MinIO ---
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin321
MINIO_APP_ACCESS_KEY=archieapp
MINIO_APP_SECRET_KEY=archieapp-very-very-very-very-long-secret-key123123123

# generate key with:
# openssl rand -hex 32
