# --- PostgreSQL ---
POSTGRES_USER=user
POSTGRES_PASSWORD=pw
POSTGRES_DB=name

# --- MinIO ---
MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=pw
MINIO_APP_ACCESS_KEY=name
MINIO_APP_SECRET_KEY=very-very-very-very-long-

# --- ai-service ---
POSTGRES_DSN=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:5432/POSTGRES_DB
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_GENERATION_MODEL=qwen3:1.7b
OLLAMA_VISION_MODEL=qwen2.5vl:3b
OLLAMA_EMBEDDING_MODEL=bge-m3
OLLAMA_MAX_LOADED_MODELS=1
OLLAMA_KEEP_ALIVE=5m

# generate key with:
# openssl rand -hex 32
