# --- PostgreSQL ---
POSTGRES_USER=user
POSTGRES_PASSWORD=pw
POSTGRES_DB=name

# --- MinIO ---
MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=pw
MINIO_APP_ACCESS_KEY=name
MINIO_APP_SECRET_KEY=very-very-very-very-long-

# --- ai-service ---
OLLAMA_BASE_URL=dummy
OLLAMA_GENERATION_MODEL=qwen3:8b
OLLAMA_VISION_MODEL=qwen2.5vl:7b
OLLAMA_EMBEDDING_MODEL=bge-m3
POSTGRES_DSN=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:5432/POSTGRES_DB

# generate key with:
# openssl rand -hex 32
