# --- general ---
/env/.env
.env.minio
*.note.*
dist/
*.log
__pycache__/
.venv/
.DS_Store

# --- backend ---
backend/nest-server/dist/
backend/nest-server/node_modules/
# backend/nest-server/generated/prisma
backend/nest-server/.pnpm-store

/docs
/.pnpm-store
/node_modules
frontend/.pnpm-store
/notesForCedric.md
