.group-list {
  min-height: 8rem;
  max-height: 60vh;
  overflow: auto;
  resize: vertical;
}

.member-count {
  margin-left:  auto;
  margin-right: 1rem;
  font-size: 1.15rem;
  color: var(--bs-secondary-color);
}