<div class="modal-header">
  <h5 class="modal-title">
    {{ "groups.infoGroup.heading" | transloco }}
  </h5>

  @if (!isLoading() && !hasLoadError()) {
    <span class="member-count">
      @if (members().length === 0) {
        {{ "groups.infoGroup.noMembers" | transloco }}
      } @else {
        {{ "groups.infoGroup.memberCount" | transloco: { count: members().length } }}
      }
    </span>
  }

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="closeModal()">
  </button>

</div>

<div class="modal-body">
  <div class="mb-3">
    <label
      for="user-search"
      class="form-label">
      {{ "groups.infoGroup.searchUser" | transloco }}
    </label>

    <div class="input-group">
      <input
        id="user-search"
        type="search"
        class="form-control"
        [placeholder]="'groups.infoGroup.searchUserPlaceholder' | transloco"
        autocomplete="off" />

      <button
        type="button"
        class="btn btn-primary">
        {{ "groups.infoGroup.btnAddUser" | transloco }}
      </button>
    </div>
  </div>

  @if (isLoading()) {
   <p>{{ "groups.infoGroup.loading" | transloco}}</p> 
  } @else if (hasLoadError()) {
    <p class="text-danger">
      {{ "groups.infoGroup.errorLoading" | transloco }}
    </p>
  } @else {
    <div class="member-list">
      <table class="table table-sm align-middle mb-0">
        <thead>
          <tr>
            <th scope="col">
              {{ "groups.infoGroup.displayName" | transloco }}
            </th>
            <th scope="col">
              {{ "groups.infoGroup.email" | transloco }}
            </th>
          </tr>
        </thead>

        <tbody>
        @for (member of members(); track member.userId) {
          <tr>
            <td>{{ member.displayName }}</td>
            <td>{{ member.email }} </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="2">
              {{ "groups.infoGroup.empty" | transloco }}
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  }
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="closeModal()">
    {{ "groups.infoGroup.btnClose" | transloco }}
  </button>
</div>