# --- PostgreSQL ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgresdb
POSTGRES_PORT=5432
# This host name come from container name form docker-compose file 
POSTGRES_HOST=postgres



# --- NestJS ---
NEST_SERVER_PORT=3000
NODE_ENV=development


# --- Redis (nest-server sessions) ---
# Hostname comes from the "redis" container name in docker-compose.yml
REDIS_URL=redis
SESSION_TTL_SECONDS=604800


# --- MinIO ---
MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=pw
MINIO_APP_ACCESS_KEY=name
MINIO_APP_SECRET_KEY=very-very-very-very-long-key

# generate key with:
# openssl rand -hex 32
